<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <appSettings>
    <add key="FileLogger.Path" value="c:\logs" />
    <add key="MultiLogger.LogLevel" value="Information" />
    <add key="ConfigurationFile" value="Configuration.json" />
  </appSettings>
  <connectionStrings>
    <add name="MySqlConStr" providerName="MySql.Data.MySqlClient" connectionString="server=hw-xiawa-vm02;port=3306;database=crawler;uid=root;password=sunny;Character Set=utf8" />
  </connectionStrings>  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  
  
  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager,                  Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager,                  Microsoft.Practices.Unity" />

      <typeAlias alias="IHtmlReader" type="Crawler.HtmlReaders.IHtmlReader, Crawler" />
      <typeAlias alias="HttpClientReader" type="Crawler.HtmlReaders.HttpClientReader, Crawler" />
      <typeAlias alias="ValentinoHttpClientReader" type="Crawler.HtmlReaders.ValentinoHttpClientReader, Crawler" />
      <typeAlias alias="HttpClientUserAgentReader" type="Crawler.HtmlReaders.HttpClientUserAgentReader, Crawler" />
      <typeAlias alias="HtmlAgilityPackReader" type="Crawler.HtmlReaders.HtmlAgilityPackReader, Crawler" />

      <typeAlias alias="IItemReader" type="Crawler.ItemReaders.IItemReader, Crawler" />
      <typeAlias alias="RegexItemReader" type="Crawler.ItemReaders.RegexItemReader, Crawler" />
      <typeAlias alias="JapanKFCItemReader" type="Crawler.ItemReaders.JapanKFCItemReader, Crawler" />
      <typeAlias alias="FendiItemReader" type="Crawler.ItemReaders.FendiItemReader, Crawler" />

      <typeAlias alias="IPageParser" type="Crawler.PageParsers.IPageParser, Crawler" />
      <typeAlias alias="RegexPageParser" type="Crawler.PageParsers.RegexPageParser, Crawler" />
      <typeAlias alias="JsonPageParser" type="Crawler.PageParsers.JsonPageParser, Crawler" />
      
      <typeAlias alias="IPageReader" type="Crawler.PageReaders.IPageReader, Crawler" />
      <typeAlias alias="SequentialPageReader" type="Crawler.PageReaders.SequentialPageReader, Crawler" />
      <typeAlias alias="TotalPageReader" type="Crawler.PageReaders.TotalPageReader, Crawler" />
      <typeAlias alias="ParamPageReader" type="Crawler.PageReaders.ParamPageReader, Crawler" />
      <typeAlias alias="ValentinoPageReader" type="Crawler.PageReaders.ValentinoPageReader, Crawler" />
      <typeAlias alias="ParamSequentialPageReader" type="Crawler.PageReaders.ParamSequentialPageReader, Crawler" />
      <typeAlias alias="KyochonPageReader" type="Crawler.PageReaders.KyochonPageReader, Crawler" />
      
    </typeAliases>
    
    <containers>
      <container name="Crawler">
        <types>
          <type type="IHtmlReader" mapTo="HttpClientReader" name="Default" />
          <type type="IHtmlReader" mapTo="ValentinoHttpClientReader" name="Valentino" />
          <type type="IHtmlReader" mapTo="HttpClientUserAgentReader" name="UserAgent" />
          <type type="IHtmlReader" mapTo="HtmlAgilityPackReader" name="JsHtml" />

          <type type="IItemReader" mapTo="RegexItemReader" name="Default" />
          <type type="IItemReader" mapTo="JapanKFCItemReader" name="JapanKFC" />
          <type type="IItemReader" mapTo="FendiItemReader" name="Fendi" />

          <type type="IPageParser" mapTo="RegexPageParser" name="Default" />
          <type type="IPageParser" mapTo="JsonPageParser" name="JsonParser" />

          <type type="IPageReader" mapTo="SequentialPageReader" name="Default" />
          <type type="IPageReader" mapTo="TotalPageReader" name="Total" />
          <type type="IPageReader" mapTo="ParamPageReader" name="Param" />
          <type type="IPageReader" mapTo="ValentinoPageReader" name="Valentino" />
          <type type="IPageReader" mapTo="ParamSequentialPageReader" name="ParamPage" />
          <type type="IPageReader" mapTo="KyochonPageReader" name="Kyochon" />
          
        </types>
      </container>
    </containers>
  </unity>

</configuration>